*{
    margin:0;
    padding:0;
    box-sizing:border-box;
    list-style:none;
}
.banar-container{
    height: 100vh;
    width:100%;
    background-image:url("./group-of-kids-in-school-uniform-that-is-outdoors-together-near-education-building-photo.jpg");
    background-size:100% 100%;
    background-repeat:no-repeat;
}
.nav-continer{
    width: 100%;
    height:60px;
    display:flex;
    justify-content:center;
    background-color: rgba(0, 0, 0, 0.329);
}
.nav-brand{
    width:40%;
    height:60px;
    display: flex;
    align-items: center;
}
.nav-brand h2{
    margin-left:20px;
    color:#fff;
    font-size:1.5rem;
}
.toggle-btn{
    font-size:1rem;
    color:#fff;
    display: none;
}
.nav-list{
    width:60%;
    height:60px;
}
.main-nav-list{
    height:60px;
    width:100%;
    display:flex;
    justify-content:right;
    align-items:center;
    position: relative;
}
.main-nav-list .nav-manu{
    margin:0 10px;
}
.main-nav-list .nav-manu .manu-link{
    display: block;
    text-decoration:none;
    color:#fff;
    font-size:1.2rem;
    padding:11px 23px;
}
.active{
    background-color:rebeccapurple;
}
.main-nav-list .nav-manu .manu-link:hover{
    background-color: rebeccapurple;
}
/* style submanu */
.sub-list{
    display: block;
    position: absolute;
    width: 106px;
    height: 0;
    background-color: rebeccapurple;
    top:56px;
    left:342px;
    z-index: 1;
    opacity: 0;
    visibility: hidden;
    pointer-events: none;
    transition: .3s ease;
}
.sub-list2{
    display: block;
    position: absolute;
    width: 106px;
    height: 0;
    background-color: rebeccapurple;
    top:56px;
    left:454px;
    left:63%;
    transform: translateX(-63%);
    z-index: 1;
    opacity: 0;
    visibility: hidden;
    pointer-events: none;
    transition: .3s ease;
}
.submanu{
    padding-bottom:32px;
    border-bottom: 0.2px solid #ffffff65;
    border-top: 0.2px solid #ffffff2c ;
    width: 100%;
    height: 20px;
    text-align: center;
    }
.sublink{
    color:#fff;
    text-decoration:none;
    font-size:1.1rem;
    display: block;
    padding: 5px 0;
}
.submanu .sublink:hover{
    background-color: blueviolet;
}
@media screen and (min-width:998px) {
    #sublist-manu-1:hover > .sub-list{
    opacity: 1;
    visibility: visible;
    pointer-events: painted;
    height: 103px;
}
    #sublist-manu-2:hover > .sub-list2{
    opacity: 1;
    visibility: visible;
    pointer-events: painted;
    height: 103px;
}
}
.openSubmanu-all{
    opacity: 1;
    visibility: visible;
    pointer-events: painted;
    height: 103px;
}
.openSubmanu-all2{
    opacity: 1;
    visibility: visible;
    pointer-events: painted;
    height: 103px;
}


@media screen and (max-width:992px) {
    .main-nav-list .nav-manu a{
        padding:8px 5px;
    }
}
@media screen and (max-width:768px) {
    .main-nav-list .nav-manu {
        margin: 0 0px;
    }
    .sub-list{
        position: relative;
        width: 100%;
        left:0;
        top:0;
    }
    .sub-list2{
        position: relative;
        width: 100%;
        left:0;
        top:0;
    }
    .nav-brand {
        position: absolute;
        width: 91%;
        height:60px;
        display: flex;
        justify-content: space-between;
     }
     /* start toggle button */
     .toggle-btn{
        display: block;
        height:30px;
        width: 33px;
        cursor: pointer;
    }
    .bar{
        height: 3px;
        width:100%;
        background-color:#fff;
        margin-bottom:5px;
        transition:.3s ease;
    }
    #bar1{
        margin-top:5px;
        transform:translateY(-4px);
    }
    #bar3{
        transform: translatey(4px);
    }
    
    .icon #bar1{
        transform: translateY(4px) rotate(-45deg);
    }
    .icon #bar3{
        transform: translateY(-11px) rotate(45deg);
    }
    .icon #bar2{
        opacity:0;
    }


    /* end toggle button */
    .nav-list{
        width: 100%;
        height: 29vh;
        background-color:blueviolet;
        position: relative;
        top:60px;
        left:-150px;
        display: flex;
        justify-content:center;
        pointer-events: none;
        opacity: 0;
        visibility: hidden;
        transition: .5s ease-in-out;
        z-index:2;
    }
    .open{
        pointer-events: painted;
        opacity: 1;
        visibility: visible;
        transform: translateX(150px);
    }
    .main-nav-list{
        height:max-content;
        width:100%;
        display: block;
        background-color:blueviolet;
        text-align: center;
    }
    .main-nav-list .nav-manu{
        border-bottom: 0.7px solid rgba(255, 255, 255, 0.301);
        text-align: center;
    }
}
@media screen and (max-width:600px) {
    .nav-list{
        width: 100%;
        height: 34vh;
        background: transparent;
        align-items: start;
        position: relative;
        top:60px;
    }
    .main-nav-list {
        height: max-content;
        width: 77%;
        display: block;
        background-color: blueviolet;
        text-align: center;
    }
    .main-nav-list .nav-manu .manu-link{
        padding: 8px 89px;
    }
    .main-nav-list .nav-manu .manu-link:hover{
      background-color: rebeccapurple;
    }
}
/* end nav  section */
/* start hero section  */
.hero{
    width: 100%;
    height: max-content;
    display: flex;
    justify-content: center;
}
.our-slogan{
    width: 98%;
    height: max-content;
    margin-top:50px;
}
.slogan-1{
    width: 50%;
    height: max-content;
    color:#fff;
    margin-bottom:20px;
}
.slogan-2{
    width: 50%;
    height: max-content;
    margin-bottom:20px;
    color:#fff;
}
.main-heading-content{
    width: 100%;
    height: max-content;
    position: relative;
    top:-150px;
}
.heading-logo{
    width: 100%;
    height: max-content;
    display: flex;
    justify-content: center;
}
.heading-logo img{
    width: 180px;
    width: 180px;
}
.heading-welcome-massage{
    width: 100%;
    height: max-content;
    display: flex;
    justify-content: center;
    color:#07d946ff;
    font-size:3rem;
}
.heading-name{
    width: 100%;
    height: max-content;
    display: flex;
    justify-content: center;
    color:#ffff03ff;
    font-size:5rem;
    font-family: "Noto Sans Bengali";
}
/* heading button */
.heading-button{
    width: 100%;
    height:60px;
    display: flex;
    justify-content:center;
    align-items:center
}
.heading-btn{
   width:160px;
   height: 50px;
   background-color: rebeccapurple;
   color:#fff;
   border: none;
   outline:none;
   border-radius:25px;
   cursor:pointer;
}
.heading-btn:hover{
    background-color: rgb(61, 27, 95);
}

@media screen and (max-width:768px) {
    .heading-logo img{
        width: 100px;
        height: 100px;
    }
    .heading-welcome-massage h1{
        font-size:1.2rem;
    }
    .heading-name {
       font-size:3rem;
    }
    .main-heading-content {
        top: -15px;
    }
}
@media screen and (max-width:415px) {
    .heading-name {
        font-size:2.2rem;
     }
     .slogan-1 {
        width: 100%;
    }
    .slogan-2 {
        width: 100%;
    }
}
/* end hero section */
/* about conttainer */
.about-continer{
    height:500px;
    width:100%;
}
.about-cards{
    width: 100%;
    height: max-content;
    display: flex;
    justify-content: center;
    align-items: center;
    gap:120px;
    margin-top:50px;
}
.about-card{
    width: 300px;
    height: max-content;
    padding:10px;
    background-color: #d4d4d4;
    border-radius:30px;
}
.card-logo{
    width: 100%;
    height: 100px;
    display: flex;
    justify-content: center;
    align-items: center;
 }
.card-logo img{
    height:100px;
    width: 100px;
}
.card-heading{
    width: 100%;
    font-size:2rem;
    display: flex;
    justify-content: center;
}
.card-detail{
    width: 100%;
    text-align:center;
}
@media screen and (max-width:768px) {
    .about-cards{
        width: 100%;
        flex-direction:column;
    }
    .about-cards{
        gap:50px;
    }
}